<p id="notice"><%= notice %></p>

 <div class="headnav">
    <div class="row">
    <div class="col-4"><p>Bitches</p> </div>
    <div class="col-4"><p>Search Bar</p></div>  
    <div class="col-2"><p>[√]</p></div>
    <div class="col-2"><p>Sortdropdown</p></div> 
    </div>
</div>


<div class="card-outline">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th><i class="fas fa-smile"></i></th>
      <th><i class="fas fa-coins"></i> </th>
      <th><i class="fas fa-phone-square"></i> </th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
      
        <td><%= link_to employee.name, employee %></td>
        <td><%= employee.clients.count %></td>        
        <td><%= employee.credit %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.description %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<br>
<%= link_to 'New Employee', new_employee_path %>
