<p id="notice"><%= notice %></p>

    

 <div class="headnav">
    <div class="row">
    <div class="col-4"><%= link_to 'New Bitch', new_employee_path %></div>
    <div class="col-4"><p>Search Bar</p></div>  
    <div class="col-2"><p>[√]</p></div>
    <div class="col-2"><p>Sortdropdown</p></div> 
    </div>
</div>



<% @employees.each do |employee| %>
<div class="card-outline">

  <div class="row">
      <div class="col-4"><%= link_to employee.name, employee_path(employee) %></div>
      <div class="col-4"><%= employee.phone %></div>
      <div class="col-4"><%= link_to 'Edit', edit_employee_path(employee) %>, <%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></div>
  </div>
   <div class="row">
      <div class="col-2"><%= employee.credit %> € </div>
      <div class="col-2"><%= employee.clients.count %> <i class="far fa-user"></i> </div>
      <div class="col-4"><%= employee.description %></div>
    </div>
 
</div>
<% end %>
<br>
