<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @employee.phone %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @employee.credit %>
</p>

<p>
  <strong>Description:</strong>
  <%= @employee.description %>
</p>

<p>
  <strong>INACTIVE?</strong>
  <%= @employee.inactive %>
</p>


<p>
  <strong>Pay the man:</strong>[link to payments, params:employee_id, pay + subtract credit]
</p>


<p>
  <strong>Clients: <%= @employee.clients.count %></strong> <br>
  <% @employee.clients.each do |client|%>
    <%= link_to client.name, client_path(client) %>, |<%= client.address%> <i class="fas fa-parachute-box"></i> <%= client.orders.count %> 
    <br>
  <% end %>
</p>

<%= link_to 'Add a client', new_client_path(:bone => "#{@employee.id}")%> 
<%# this doesnt work - because i need to send params of employee id through  <%= hidden_field_tag :employee_id, @employee.id %>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
