<strong><%= @pickup.landlord.name %> |
<%= @pickup.date %>
</strong>

<br>
    
<p>
  <strong>Total kg:</strong>
  <%= @pickup.kgs %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @pickup.cost %> 
</p>

<p>
  <strong>AVG price:€/kgs</strong>
  <%= (@pickup.cost / @pickup.kgs) %> 
</p>


<p>
  <strong>Recojidas:</strong>
  <% @pickup.bags.each do |f| %>
  <br>
    <%= f.fruit %> , <%= f.quantity%> kg - <%= f.price %>€  
    <%# <%= link_to "Delete", bag_path(f), method: :destroy %>
     <%end %>
</p>



<%= simple_form_for(@bag) do |f| %>
<% @bag.pickup = @pickup %>
  <div class="form-inputs">
    <%= f.association :pickup, collection: Pickup.all.map { |pickup| [pickup.date, pickup.id] }%>
    <%= f.input :fruit, label: 'que fruta' %>
    <%= f.input :quantity, label: 'cuanto has recojido' %>
    <%= f.input :price, label: 'cuanto has pagao'%>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



<%= link_to 'Back', landlords_path %>
<%= link_to "Delete", pickup_path(@pickup), method: :delete, data: { confirm: 'Are you sure?' }  %>
