<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to orders_path, class: "navbar-brand" do %>
    <%= image_tag ("nnlogo.png") %>
  <% end %>

  <%= link_to employees_path, class: "navbar-brand" do %>
    <%= image_tag ("nnbitches.png") %>
  <% end %> 

  <%= link_to clients_path, class: "navbar-brand" do %>
    <%= image_tag ("nnclients.png") %>
  <% end %> 

  <%= link_to landlords_path, class: "navbar-brand" do %>
    <%= image_tag ("orangetree.png") %>
  <% end %> 


</div>
