
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
<%# if client_id present - automaticaly put client id as client  => default tpm    %>
    <%= f.association :client %>
    <%= f.text_field :date, data: {behavior: "flatpickr"} %>
    <%= f.input :time %>
    <br>
    <%= f.input :delivered %>
    <%= f.input :paid %>
    <%= f.input :comment %>
    <%# <%= f.input :price %> 

  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



