<p id="notice"><%= notice %></p>

<p>
  <strong>Order:</strong>
  <%= @ticket.order_id %>
</p>

<p>
  <strong>Kg:</strong>
  <%= @ticket.kg %>
</p>

<p>
  <strong>Fruit:</strong>
  <%= @ticket.fruit %>
</p>

<p>
  <strong>Ppfruit:</strong>
  <%= @ticket.ppfruit %>
</p>

<p>
  <strong>Tprice:</strong>
  <%= @ticket.tprice %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
