<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @payment.date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @payment.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @payment.price %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @payment.ticket %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
