<h1>Ir a Valencia</h1> <p><%= link_to "New Trip", new_pickup_path %> | <%= link_to "+ Recogida", new_bag_path %> | <%= link_to "Nuevo Contacto", new_landlord_path %></p>
<p> <% @landlords.each do |l|  %>
    <%= link_to l.name, landlord_path(l) %>  <%= l.pickups.count %>  <i class="fas fa-truck-loading"></i> | </div> 
        <% end%>
</p>

<% @pickups.each do |l| %>
<div class="container row marginfive">
    <div class="card-pickups">
    <%= link_to l.date.to_formatted_s(:short) , pickup_path(l) %> , <%=l.kgs%>kg, <%=l.cost%>€ ||avg
        </div>
        <div class="container row">
        <%l.bags.each do |f| %>
            <%= f.fruit %>, <%= f.quantity %> kg, <%= f.price %> € 
    </div>
         <% end %>
    <% end %>
</div>


