
<p>
  <strong>Name:</strong>
  <%= @landlord.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @landlord.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @landlord.address %>
</p>

<p>
  <strong>Campos:</strong>
  <%= @landlord.fields %>
</p>

<p>

  <strong>Mas:</strong>
  <%= @landlord.description %>
</p>



<br>


<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %>
